

.installed.cfg
.mr.developer.cfg
.installed.cfg
Thumbs.db
*.pyc
*.pyo
docs/AGENDA
bin
parts
develop-eggs
_build
src/minibq/BQCONFSETTINGS.PY
build
*.pyd
IMDbPY.egg-info
imdb/locale/en
imdb/locale/it
imdb/locale/tr

